html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.space {
  width: 95vw;
  max-width: 1380px;
  margin: auto;
}

/******** Navbar  ********/
.sticky {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: white;
  padding: 0 7rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}
.navbar .logo {
  width: 20%;
}
.navbar .home {
  width: 50%;
}
.navbar .home ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
.navbar .home ul li a {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  color: black;
}
.navbar .home ul li a:hover {
  text-decoration: underline;
  color: #12edd6;
}
.navbar .home ul .first a {
  text-decoration: underline;
  color: #12edd6;
}

/*********** Hero-page*************/
.intro {
  display: flex;
  position: relative;
  top: 7rem;
  height: 100vh;
  margin-bottom: 40rem;
}
.intro .image {
  position: relative;
  top: 2rem;
}
.intro .image .green {
  background: #12edd6;
  border-radius: 50%;
  height: 24.2rem;
  width: 24.2rem;
  position: relative;
  left: -5rem;
}
.intro .image .black {
  background: black;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  position: relative;
  left: -7rem;
  top: -21rem;
}
.intro .image .small-black {
  background: black;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  position: relative;
  left: -11rem;
  top: -20rem;
}
.intro .image img {
  position: relative;
  top: -34rem;
  border-radius: 50%;
}
.intro .image .d-green {
  background: #12edd6;
  border-radius: 50%;
  height: 16.2rem;
  width: 16.2rem;
  position: relative;
  left: 36rem;
  top: -45rem;
}
.intro .image .d-black {
  background: black;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  position: relative;
  left: 49rem;
  top: -59rem;
}
.intro .image .d-small-black {
  background: black;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  position: relative;
  left: 54rem;
  top: -58rem;
}
.intro .explore-swag {
  width: 60%;
  padding: 1rem;
  padding-left: 12rem;
}
.intro .explore-swag h1 {
  font-size: 11rem;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  line-height: 10rem;
  margin: 4rem 0;
}
.intro .explore-swag h1 hr {
  border: 0;
  margin: 0;
}
.intro .explore-swag h1 span {
  color: #12edd6;
}
.intro .explore-swag p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}
.intro .explore-swag h3 {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  margin-top: 8rem;
  margin-bottom: 2rem;
  line-height: 40px;
}

/******************  FOOTER  ***********************/
footer {
  height: 12rem;
}
footer .U-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(182, 180, 180);
}
footer .U-footer .logo {
  width: 25%;
  display: flex;
}
footer .U-footer .logo img {
  padding-right: 2rem;
}
footer .U-footer .logo p {
  font-size: 1.4rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
footer .U-footer .media {
  width: 15%;
}
footer .U-footer .media ul {
  display: flex;
  list-style: none;
}
footer .U-footer .media ul li {
  padding: 0 1rem;
}
footer .U-footer .media ul li a {
  width: 2rem;
}
footer .U-footer .media ul li a img {
  width: 1.5rem;
  height: 1.5rem;
}
footer .U-footer .media ul li a img:hover {
  color: #12edd6;
}
footer .L-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
footer .L-footer .copywrite {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
footer .L-footer .copywrite img {
  height: 1.4rem;
  padding-right: 1rem;
}
footer .L-footer .terms {
  width: 50%;
}
footer .L-footer .terms ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
footer .L-footer .terms ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: rgb(181, 179, 179);
}
footer .L-footer .terms ul li a:hover {
  color: #12edd6;
}/*# sourceMappingURL=About.css.map */